@layer utilities {
  /* Fluid typography */
  .fluid-text {
    font-size: clamp(1rem, 4vw, 1.25rem);
  }

  /* Aspect ratios */
  .aspect-video {
    aspect-ratio: 16/9;
  }

  /* Scrollbar styling */
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') transparent;
  }

  .app-container {
    --pl: 19px;
    --pr: 18px;
    @media (min-width: 1280px) {
      --pl: 65px;
      --pr: 64px;
    }
    @media (min-width: 1920px) {
      --pl: 70px;
      --pr: 70px;
    }
    padding-left: var(--pl);
    padding-right: var(--pr);
  }
}
