@layer utilities {
  /* Fluid typography */
  .fluid-text {
    font-size: clamp(1rem, 4vw, 1.25rem);
  }

  /* Aspect ratios */
  .aspect-video {
    aspect-ratio: 16/9;
  }

  /* Scrollbar styling */
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') transparent;
  }

  .app-container {
    --container-ps: 19px;
    --container-pe: 18px;
    @media (min-width: 1280px) {
      --container-ps: 41px;
      --container-pe: 40px;
    }
    @media (min-width: 1920px) {
      --container-ps: 70px;
      --container-pe: 70px;
    }
    padding-left: var(--container-ps);
    padding-right: var(--container-pe);
  }
}
.text-truncate-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-truncate-multi {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines before truncation */
}
