@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_root.css';

@import './animation/_language_transitions.css';
@import './animation/_navigation_transitions.css';

@import './config/_colors.css';
@import './config/_sizes.css';
@import './config/_breakpoints.css';

@import './utilities/_mixins.css';
@import './utilities/_scrollbar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
